Host 192.168.1.175
  Hostname 192.168.1.175
  User virl
  IdentityFile ~/.ssh/private_key.pem
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
  PasswordAuthentication no

Host *
  ProxyCommand ssh -W %h:%p 192.168.1.175
  IdentityFile ~/.ssh/private_key.pem
  User virl
