interface Ethernet1/1
 description test1 interface

interface Ethernet1/2
 description test2 interface

interface Ethernet1/3
 description test3

ip access-list extended test
 permit ip host 2.2.2.2 any
 permit ip host 3.3.3.3 any
 permit ip host 4.4.4.4 any
 permit ip host 5.5.5.5 any
