---
- vsphere_guest:
    vcenter_hostname: 192.168.1.207
    username: administrator@vsphere.local
    password: "{{ vcenter_password }}"
    guest: "{{ vm_name }}"
    from_template: yes
    template_src: rhel7.3
    esxi:
      datacenter: CF
      hostname: 192.168.1.201
  no_log: False
