---
- name: configure interface settings
  ios_config:
    host: "{{ inventory_hostname }}"
    username: "{{ cisco_user }}"
    password: "{{ cisco_password }}"
    lines:
      - 10 permit ip host 1.1.1.1 any log
      - 20 permit ip host 2.2.2.2 any log
      - 30 permit ip host 3.3.3.3 any log
      - 40 permit ip host 4.4.4.4 any log
      - 50 permit ip host 5.5.5.5 any log
    parents: ip access-list extended test
    before: no ip access-list extended test
    match: exact    
